language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - nightly
  - hhvm

env:
  global:
    - PATH="$HOME/.composer/vendor/bin:$PATH"

matrix:
  fast_finish: true
  include:
    - php: 5.5
      env: COMPOSER_FLAGS="--prefer-lowest"
    - php: 5.6
      env: SYMFONY_VERSION=2.7.*
    - php: 5.6
      env: SYMFONY_VERSION=2.8.*
    - php: 5.6
      env: SYMFONY_VERSION=3.0.*
    - php: 5.6
      env: SYMFONY_VERSION=3.1.*@dev
  allow_failures:
    - php: nightly
    - env: SYMFONY_VERSION=3.1.*@dev

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

before_install:
  - if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then phpenv config-rm xdebug.ini; fi;
  - composer config -g github-oauth.github.com $GITHUB_OAUTH_TOKEN
  - composer global require phpunit/phpunit:@stable satooshi/php-coveralls:@stable codeclimate/php-test-reporter:@stable --no-update

install:
  - composer global update --prefer-dist --no-interaction
  - composer update --prefer-dist --no-interaction $COMPOSER_FLAGS

before_script:
  - if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then echo "zend_extension=xdebug.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;

script: php vendor/bin/phpunit -c phpunit.xml.dist --coverage-clover build/logs/clover.xml

after_script:
  - coveralls -v
  - test-reporter

notifications:
  slack:
    secure: ScaYPjatptVIUB1PlwOaH7Yp8thfklqrSgOePqgi9hrWh454OpJXKt7r0TlmRtdzlTXJ/389kIgFrByGUIoaLhe1uUySorRcLQyvGMCK68qUuMO7Q/5q7oEhLe7pGzzqUTBmNLqEUboo95G5GB0jm/vAZ0dLF57U40gfZmV8FQOSmlAa9k7oAuiUXoP60pB4CMTmYB5WFVZeK0n/w/dyH+nTQu6t5pk+iQdy7zYHH2ubxd7QezEsb1zcQJxgE2VPzFrEN9Lt0m4tHSXI1rfWTuany1zhhx3Xya6J7mPLtK9ZQjgcPdyZZS+zCnH6L1NhJpedqlkh78j9oOooameTH/sCA8rgLSYfBT9qlZV4KW5B1XSgb5byb9JLhvWBYUXR1NilEkNFgsYifZV3VRnzbOpByHjJPWt0HFI8w+ThevdpCrZueQpvSO7cdX5PeC0RDQpH8jrNeMWMgjv62PsH9ii5uWygGBLA0F9B1pfZKBGX9w+ZUkRcNBi+jf45T4bCJGnk4pOyrxqoDhVU5ngLEh2y3XYPYirOOYqPCha8LMxJsPs/e8wF3I4Um5VP4GrasiI1KkVF05T9w4HiY2GKiKyc9939yrhCV4zSWnDtff3YCg3r5uCCTUPk+EHvmfJa6e5/XpX35kVOzYcRcPI3xdt6mVyfNDgX/GsP7EGH84w=
